

/*to hide the black box around my logo */
header {
    background-color: black;
}


/*fixes unevenness in navbar*/
.navbar-nav{
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-link{
    color: white;
}

.navbar-toggler-icon{
    color: white;
}

.form-floating{
    display: flex;
    justify-content: center;
}

.logo-signup{
    display: flex;
    justify-content: center;
}

main{
    margin-left: 10px;
    margin-right: 10px;
}